
<div class="PageTitle">
<h1><%= "#{@course.department} #{@course.number}: #{@course.long_title || @course.short_title || '(No title found)'}"%></h1>
</div>

<div id='content'>

<%= render :partial => 'review_summary',
  :locals => {:avgs => @avgs, :reviews => @reviews, :old_reviews => @old_reviews} %>

<h2 id="course_detail_header">Course</h2>
<div id="course_detail">
  <%= render :partial => 'comments',
    :locals => {
      :reviews => @reviews,
      :rating_field => 'course_rating',
      :comment_field => 'course_comment',
    } %>
</div>

<h2 id="prof_detail_header">Professor</h2>
<div id='prof_detail'>
  <%= render :partial => 'comments',
    :locals => {
      :reviews => @reviews,
      :rating_field => 'prof_rating',
      :comment_field => 'prof_comment',
    } %>
</div>

<h2 id="workload_detail_header">Workload</h2>
<div id="workload_detail">
  <%= render :partial => 'comments',
    :locals => {
      :reviews => @reviews,
      :rating_field => 'workload_rating',
      :comment_field => 'workload_comment',
    } %>
</div>

<%= render :partial => 'old_reviews',
  :locals => {:avgs => @old_avgs, :counts => @old_counts, :reviews => @old_reviews} %>

<%= render :partial => 'compare_reviews',
  :locals => {:grouped_avgs => @avgs_by_profs, :review_counts => @review_counts_by_profs} %>