<%# HEADER %>
<%= stylesheet_link_tag "review" %>

<% if @review.offering %>
	<% courses = @review.offering.courses %>
	<% if courses.empty? || !(courses.first.is_a? Course)%>
		<h1>"New Review for UNKNOWN COURSE"</h1>
	<% else %>
		<h1><%= "New Review for #{courses.first.compact_title}" %></h1>
	<% end %>
	<% if courses.length > 1 %>
		<h3><%= "Cross-listed as: " + courses.map(&:compact_title).join(', ') %></h3>
	<% end %>
<% else %>
	<h1>New Review</h1>
<% end %>

<%# COURSE INFO %>

<div id="course_info">
	<% if @review.offering %>
		<%# TODO make names link to their actual pages %>
		<% professors = @review.professors %>
		<%= (professors.length == 1 ? "Instructor: " : "Instructors: ") %>
		<%=	raw professors.map{|prof|
			link_to(prof.name, prof_reviews_path(:id => prof.id))}.join(', ') %>
		<br/>

		<%= review.offering.summary_string %>
		<%# TODO [not when you took this course?] button %>
	<% else %>
		Please select a course offering to review.
	<% end %>
</div>

<%# REVIEW %>

<div>
	<%= form_for @review do |f| %>

		<div id='review_motivations'>

			<h4>Why did you take this class? (pick at least one)</h4>
			<table>
				<% [{:for_interest => 'Interest', :for_prof => 'Prof',
					:for_easy_a => 'Easy A'}, {:for_distrib => 'Distrib/WC',
					:for_major => 'Major/Minor', :for_prereq => "Prereqs"}].each do |h| %>
					<tr>
					<% h.each do |tag, title| %>
						<td>
							<%= f.check_box tag %>
							<%= f.label tag, title %>
						</td>
					<% end %>
					</tr>
				<% end %>
			</table>
		</div>

	  <%= f.label 'Grade' %>
	  <%= f.select :grade, Review.grade_number_pairs %>
	  <br/>

	  <%= f.label 'Course' %>
	  <%= star_rating f, :course_rating %>
	  <br/>
	  <%= f.text_area(:course_comment, :rows => 6, :cols => 50,
			:class => 'new_review_textarea',
			:placeholder => "How interesting, well-paced, and useful was the course? Would you recommend it?") %>
	  <br/>

	  <%= f.label "Professor"%>
	  <%= star_rating f, :prof_rating %>
	  <br/>
	  <%= f.text_area(:prof_comment, :rows => 6, :cols => 50,
	  	:class => 'new_review_textarea',
	  	:placeholder => "#{@review.professors.size > 1 ? 'Were the professors' : 'Was the professor'} helpful? Knowledgeable? Fair? How were the lectures/discussions?") %>
	  <br/>

	  <%= f.label "Workload" %>
	  <%= star_rating f, :workload_rating %>
	  <br/>
	  <%= f.text_area(:workload_comment, :rows => 6, :cols => 50,
	  	:class => 'new_review_textarea',
	  	:placeholder => "Was the workload manageable? Consistent throughout the term? Difficult? Did it seem like busy-work? Any tips?") %>
	  <br/>

	  <%= f.hidden_field :offering_id %>

	  <%= f.submit "Submit" %>
	<% end %>
	<%# TODO cancel button? %>
</div>