<%= stylesheet_link_tag "review" %>

<h1>Quick Review</h1>

We've fetched the courses we know you've taken. You don't have to review all of
them right now, but if you choose to review a course then you must fill out
everything on that course's row.<br/>

If you want to give a course a more in-depth review, with comments and/or
multiple stated reasons for taking the class, click "write full review."<br/>

You can come back at any time to edit or expand your reviews.

<%# TODO bucketize reviews %>

<%= form_tag({:controller => :reviews, :action => 'create_batch'},
  :id => 'batch_review_form') do %>

  <%= submit_tag 'Submit', :id => 'batch_review_submit' %>

  <table id="batch_reviews">
    <tr>
      <th>Title</th>
      <th>Grade</th>
      <th>Course</th>
      <th>Prof.</th>
      <th>Workload</th>
      <th>Why?</th>
      <td/>
    </tr>
    <% is_dark = true
      fuzzy_counter = 0 %>
    <% @results.each do |result, data| %>
      <% course, offering, offerings = nil, nil, nil
      if data.instance_of? Schedule
        course = data.course
        offering = data.offering
      else
        course, offerings = data
      end %>

      <% prefix = "offerings[#{offerings ? 'fuzzy' : 'schedule'}][#{offerings ? fuzzy_counter : offering.id}]" %>

      <% if data.instance_of? Schedule %>
        <% prefix = "offerings[schedule][#{data.offering.id}]"
        <%= content_tag :tr, :class => (is_dark ? 'dark' : 'light'), :id => "review_row_#{oid}" do %>
          <% is_dark = !is_dark %>
          <td class='title'><%= schedule.canonical_course.compact_title %></td>
          <td class='profs'><%= schedule.offering.prof_string %></td>
          <td class='grade'><%= result['grade'] %></td>
          <td class='rating'><%= star_rating_tag "#{prefix}[course_rating]" %></td>
          <td class='rating'><%= star_rating_tag "#{prefix}[prof_rating]" %></td>
          <td class='rating'><%= star_rating_tag "#{prefix}[workload_rating]" %></td>
          <td><%= reasons_tag "#{prefix}[reasons]" %></td>
          <td class='full_review'><%= link_to 'write full review', new_reviews_path(:id => oid) %></td>
        <% end %>
      <% else %>
        <% course, offerings = data %>
        <% if data.nil? %>
          <%# TODO %>
        <% end %>

        <% prefix = "offerings[fuzzy][#{fuzzy_counter}]" %>
        <%= content_tag :tr, :class => (is_dark ? 'dark' : 'light'), :id => "fuzzy_review_row_#{fuzzy_counter}" do %>
            <% is_dark = !is_dark %>
            <% fuzzy_counter += 1 %>
            <% options = options_for_select([['Select Prof',0]] + offerings.map{|o| o.prof_string, o.id}) %>
            <td class='title'><%= course.compact_title %></td>
            <td class='profs'><%= select_tag "#{prefix}[offering_id]", options %></td>
            <td class='grade'><%= result['grade'] %></td>
            <td class='rating'><%= star_rating_tag "#{prefix}[course_rating]" %></td>
            <td class='rating'><%= star_rating_tag "#{prefix}[prof_rating]" %></td>
            <td class='rating'><%= star_rating_tag "#{prefix}[workload_rating]" %></td>
            <td><%= reasons_tag "#{prefix}[reasons]" %></td>
            <td class='full_review'><%= link_to 'write full review', new_reviews_path(:id => oid) %></td>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </table>
<% end %>