<%= stylesheet_link_tag "review" %>
<%= javascript_include_tag "reviewComment" %>

<% full_term_names = {'W' => 'Winter', 'F' => 'Fall', 'S' => 'Spring', 'X' => 'Summer'} %>

<div class="PageTitle">
<h1>Quick Review</h1>
</div>

<div id='content'>
<p>
We've fetched the courses we know you've taken. You don't have to review all of
them right now, but if you choose to review a course then you must fill out
everything on that course's row.
</p>
<p>
If you you can see your grades below, that is because you gave the Quick Review
tool the 'OK' to report them. However, Course Picker will only actually <em>save</em>
grades in courses you fill out a full review for.
<br/>
<span class="hint">In the future, we'll add more fine-grained control over
  grade-reporting than this all-or-nothing approach.</span>
</p>
<p>
  To review a course, you have to fill out <em>everything</em> on that course's
  row <em>except</em> grade and comments (those are optional).
  <br/>
  <span class="hint">Right now the only
  way to add multiple reasons for taking a course is to review it individually,
  outside of Quick Review. We'll change that soon.</span>
</p>

<%= form_tag({:controller => :reviews, :action => 'create_batch'}, :id => 'batch_review_form') do %>

  <%= submit_tag 'Submit', :id => 'batch_review_submit' %>
  <span id="alert_box"></span>
  <span id="warning_box"></span>

  <table id="batch_reviews">
    <% is_dark = true
      row_num = 0 %>

    <% @years.reverse.each do |year| %>

      <%# TODO: split table entirely by years %>

      <% %w(W S X F).reverse.each do |term| %>

        <% next if (results = @results_by_term[[year,term]]).nil? %>
        <tr class='term-divider'>
          <th colspan=3 class='term-name'><%= "#{full_term_names[term]} #{year}"%></th>
          <th colspan=2>Course</th>
          <th colspan=2>Prof.</th>
          <th colspan=2>Workload</th>
          <th>Why?</th>
        </tr>

        <% results.each do |result|
            data = @matchings[result] %>

          <% if !(data.instance_of? Schedule) && data[1].nil? %>
          <tr class="oops">
            <td class='title'><%= data[0].compact_title %></td>
            <td class='error' colspan=9>Oops. According to our records, this course didn't exist. We're probably wrong, though. Workin' on it!</td>
          </tr>
          <%
            next
          end
          row_num += 1
          prefix = "offerings[#{row_num}]"

          # offering_id is either in the select field--if the user has to pick profs
          # or in a hidden field (if it's clear which offering they were in)

          if data.instance_of? Schedule
            title = data.course.compact_title
            profs = data.offering.smart_prof_string
          else (offerings = data[1])
            title = data[0].compact_title
            options = options_for_select([['Select Prof...',0]] +
              offerings.map{|o| [o.smart_prof_string, o.id]})
            profs = select_tag "#{prefix}[offering_id]", options
          end
          %>

          <% button_prefix = "#{prefix}-comment-button".gsub(/\[|\]/,'').gsub('_','-') %>

          <tr class="data-row" id="review_row_<%= row_num %>">
            <%= (hidden_field_tag "#{prefix}[offering_id]", data.offering_id) if data.instance_of? Schedule %>
            <td class='title'><%= title %></td>
            <td class='profs'><%= profs %></td>
            <td class='grade'>
              <%# convert letter_grade -> number -> letter to get rid of invalid letter_grades (e.g. when redacting grades) %>
              <% if (number_grade = Review.number_grade(result[:grade])) %>
                <%= Review.letter_grade(number_grade) %>
                <%= hidden_field_tag "#{prefix}[grade]", number_grade %>
              <% end %>
            </td>
            <td class='rating'><%= star_rating_tag "#{prefix}[course_rating]" %></td>
            <td class='comment-button'><button class="showCommentCourse" type="button" id="<%= "#{button_prefix}-course" %>"></button>
            <td class='rating'><%= star_rating_tag "#{prefix}[prof_rating]" %></td>
            <td class='comment-button'><button class="showCommentProf" type="button" id="<%= "#{button_prefix}-prof" %>"></button></td>
            <td class='rating'><%= star_rating_tag "#{prefix}[workload_rating]", :type => 'workload' %></td>
            <td class='comment-button'><button class="showCommentWork" type="button" id="<%= "#{button_prefix}-work" %>"></button>
            <td><%= reasons_tag "#{prefix}[reasons]" %></td>
          </tr>

          <script type="text/javascript">
            jQuery('#<%= "#{button_prefix}-prof" -%>').button({icons:{primary:'ui-icon-pencil'},text:false})
            jQuery('#<%= "#{button_prefix}-work" -%>').button({icons:{primary:'ui-icon-pencil'},text:false})
            jQuery('#<%= "#{button_prefix}-course" -%>').button({icons:{primary:'ui-icon-pencil'},text:false})
          </script>

        <% end %>
      <% end %>
    <% end %>
  </table>
<% end %>

</div>