<%= stylesheet_link_tag "review" %>
<%= javascript_include_tag "reviewComment" %>

<h1>Quick Review</h1>

We've fetched the courses we know you've taken. You don't have to review all of
them right now, but if you choose to review a course then you must fill out
everything on that course's row.<br/>

If you want to give a course a more in-depth review, with comments and/or
multiple stated reasons for taking the class, click "write full review."<br/>

You can come back at any time to edit or expand your reviews.

<%# TODO bucketize reviews %>

<%= form_tag({:controller => :reviews, :action => 'create_batch'},
  :id => 'batch_review_form') do %>

  <%= submit_tag 'Submit', :id => 'batch_review_submit' %>

  <table id="batch_reviews">
    <tr>
      <th>Title</th>
      <th>Taught by</th>
      <th>Grade</th>
      <th>Course</th>
      <th>Prof.</th>
      <th>Workload</th>
      <th>Why?</th>
      <td/>
    </tr>
    <% is_dark = true
      fuzzy_counter = 0 %>
    <% @results.each do |result| %>
      <% data = @matchings[result] %>
      <% if data.instance_of? Schedule %>
        <% prefix = "offerings[schedule][#{data.offering.id}]" %>
        <%= content_tag :tr, :class => (is_dark ? 'dark' : 'light'), :id => "review_row_#{data.offering.id}" do %>
          <% is_dark = !is_dark %>
          <td class='title'><%= data.canonical_course.compact_title %></td>
          <td class='profs'><%= data.offering.prof_string %></td>
          <td class='grade'><%= result[:grade] %></td>
          <td class='rating'><%= star_rating_tag "#{prefix}[course_rating]" %></td>
          <td><button class="showCommentCourse" type="button">Comment</button></td>
          <td class='rating'><%= star_rating_tag "#{prefix}[prof_rating]" %></td>
          <td><button class="showCommentProf" type="button">Comment</button></td>
          <td class='rating'><%= star_rating_tag "#{prefix}[workload_rating]" %></td>
          <td><button class="showCommentRating" type="button">Comment</button></td>
          <td>xx<%= text_area_tag "#{prefix}[workload_comment]" %></td>
          <td><%= reasons_tag "#{prefix}[reasons]" %></td>
          <td class='full_review'><%= link_to 'write full review', new_reviews_path(:id => data.offering.id) %></td>
      <% end %>
      <% else %>
        <% course, offerings = data %>

        <% prefix = "offerings[fuzzy][#{fuzzy_counter}]" %>
        <%= content_tag :tr, :class => [(is_dark ? 'dark' : 'light'), fuzzy_counter] , :id => "fuzzy_review_row_#{fuzzy_counter}" do %>
          <% is_dark = !is_dark %>
          <% fuzzy_counter += 1 %>
          <td class='title'><%= course.compact_title %></td>

          <% if offerings %>
            <% options = options_for_select([['Select Prof',0]] + offerings.map{|o| [o.prof_string, o.id]}) %>
            <td class='profs'><%= select_tag "#{prefix}[offering_id]", options %></td>
          <% else %>
            <td class='profs'>???</td>
          <% end %>

          <td class='grade'><%= result[:grade] %></td>
          <td class='rating'><%= star_rating_tag "#{prefix}[course_rating]" %></td>
          <td><button class="showCommentCourseFuzzy" type="button">Comment</button></td>
          <td class='rating'><%= star_rating_tag "#{prefix}[prof_rating]" %></td>
          <td><button class="showCommentProfFuzzy" type="button">Comment</button></td>
          <td class='rating'><%= star_rating_tag "#{prefix}[workload_rating]" %></td>
          <td><button class="showCommentWorkFuzzy" type="button">Comment</button></td>
          <td><%= reasons_tag "#{prefix}[reasons]" %></td>
          <td class='full_review'>WRITE FULL REVIEW!</td>
        <% end %>
      <% end %>
    <% end %>
  </table>
<% end %>
