<%= stylesheet_link_tag "review" %>
<%= javascript_include_tag "reviewComment" %>

<% full_term_names = {'W' => 'Winter', 'F' => 'Fall', 'S' => 'Spring', 'X' => 'Summer'} %>

<h1>Quick Review</h1>

We've fetched the courses we know you've taken. You don't have to review all of
them right now, but if you choose to review a course then you must fill out
everything on that course's row.<br/>

If you want to give a course a more in-depth review, with comments and/or
multiple stated reasons for taking the class, click "write full review."<br/>

You can come back at any time to edit or expand your reviews.

<%# TODO bucketize reviews %>

<%= form_tag({:controller => :reviews, :action => 'create_batch'},
  :id => 'batch_review_form') do %>

  <%= submit_tag 'Submit', :id => 'batch_review_submit' %>

  <table id="batch_reviews">
    <% is_dark = true
      fuzzy_counter = 0 %>

    <% @years.each do |year| %>

      <%# TODO: split table entirely by years %>

      <% %w(W S X F).each do |term| %>

        <% next if (results = @results_by_term[[year,term]]).nil? %>
        <tr>
          <th colspan=3><%= "#{full_term_names[term]} #{year}"%></th>
          <th colspan=2>Course</th>
          <th colspan=2>Prof.</th>
          <th colspan=2>Workload</th>
          <th colspan=2>Why?</th>
        </tr>

        <% results.each do |result|
            data = @matchings[result]
            is_dark = !is_dark %>

          <%
          if data.instance_of? Schedule
            prefix = "offerings[schedule][#{data.offering.id}]"
            title = data.course.compact_title
            profs = data.offering.prof_string
            action = link_to 'write full review', new_reviews_path(:id => data.offering.id)
          else
            prefix = "offerings[fuzzy][#{fuzzy_counter += 1}]"
            title = data[0].compact_title
            if (offerings = data[1])
              options = options_for_select([['Select Prof...',0]] +
                offerings.map{|o| [o.professors.size > 1 ? o.short_prof_string : o.prof_string, o.id]})
              profs = select_tag "#{prefix}[offering_id", options
            else
              profs = 'No profs found'
            end
            action = 'WUH?'
          end
          row_class = is_dark ? 'dark' : 'light'
          %>

          <tr class=<%= row_class %>>
            <td class='title'><%= title %></td>
            <td class='profs'><%= profs %></td>
            <td class='grade'><%= result[:grade] %></td>
            <td class='rating'><%= star_rating_tag "#{prefix}[course_rating]" %></td>
            <td><button class="showCommentCourse" type="button">Comment</button></td>
            <td class='rating'><%= star_rating_tag "#{prefix}[prof_rating]" %></td>
            <td><button class="showCommentProf" type="button">Comment</button></td>
            <td class='rating'><%= star_rating_tag "#{prefix}[workload_rating]" %></td>
            <td><button class="showCommentRating" type="button">Comment</button></td>
            <td><%= reasons_tag "#{prefix}[reasons]" %></td>
            <td class='full_review'><%= action %></td>
          </tr>
        <% end %>
      <% end %>
    <% end %>
  </table>
<% end %>

