<%= stylesheet_link_tag "review" %>

<% courses = @offering.courses %>
<% course = courses.first %>
<% x_listings = courses.size > 1 ? courses[1,courses.size-1] : nil %>

<h1><%= "#{course.department} #{course.number}: #{@offering.specific_title || course.long_title || course.short_title}"%></h1>
<% if x_listings %>
	<h2 class="x-listings"><%= "X-Listed as: #{x_listings.map(&:compact_title).join(', ')}" %></h2>
<% end %>
<h2><%= "#{@offering.professors.length > 1 ? 'Professors' : 'Professor'}: " <<
	"#{@offering.professors.map(&:name).join(', ')}"%></h2>

<% if @reviews && !@reviews.empty? %>
<!-- review summary -->
<%= "#{@reviews.count} reviews" %>
<table id="summary_box">
	<tr class="labels">
		<td>Median</td>
		<td>Course</td>
		<td>Prof</td>
		<td>Workload</td>
	</tr>
	<tr>
		<td><%= letter_grade @avgs[:grade] %></td>
		<td><%= star_count @avgs[:prof_rating] %></td>
		<td><%= star_count @avgs[:course_rating] %></td>
		<td><%= star_count @avgs[:workload_rating] %></td>
	</tr>
</table>
<% else %>
<div id="summary_box_fail">
	There aren't enough reviews to display the results.
</div>
<% end %>

<table id="course_info">
	<tr>
		<td id="offerings">
			<h2>Offerings</h2>
			<%# if logged-in, give wishlist & schedule buttons %>

			<% if !@future_offerings || @future_offerings.empty? %>
				We don't know of any future offerings
			<% else %>
				Add to your schedule:
				<ul>
				<% @future_offerings.each do |offering| %>
					<li><%= "#{offering.year}#{offering.term} @ #{offering.time}" %>
				<% end %>
				</ul>
			<% end %>
			<br/><br/>

			<% if @schedule_offerings && !@schedule_offerings.empty? %>
				You took this class:
				<ul>
					<% @schedule_offerings.each do |offering| %>
						<li><%= "#{offering.year}#{offering.term} @ #{offering.time}" %>
					<% end %>
				</ul>
				<br/><br/>
			<% end %>

			<% if !@past_offerings || @past_offerings.empty? %>
				We don't know of any past offerings
			<% else %>
				Review this class:
				<ul>
					<% @past_offerings.each do |offering| %>
						<li><%= link_to "#{offering.year}#{offering.term} @ #{offering.time}", new_reviews_path(offering.id) %>
					<% end %>
				</ul>
			<% end %>
		</td>

		<td id="description">
			<h2>Course Description</h2>
			<% if @description %>
				<%= @description %>
			<% else %>
				<span class="not_found">None available.</span>
			<% end %>
			<div id="description_tags">
				<% @offering.distribs.each do |distrib| %>
					<span class="distrib_tag"><%= "#{distrib.distrib_abbr}" %></span>
				<% end %>
				<% if @offering.wc %>
					<span class="wc_tag"><%= "#{@offering.wc}" %></span>
				<% elsif @offering.distribs.empty? %>
					<%# if no tags, say so %>
					No distribs or wcult
				<% end %>
			</div>
		</td>
	</tr>
</table>

<h2 id="course_detail_header">Course</h2>
<div id="course_detail">
	<%= render :partial => 'comments',
		:locals => {
			:reviews => @reviews,
			:rating_field => 'course_rating',
			:comment_field => 'course_comment',
		} %>
</div>

<h2 id="prof_detail_header">Professor</h2>
<div id='prof_detail'>
	<%= render :partial => 'comments',
		:locals => {
			:reviews => @reviews,
			:rating_field => 'prof_rating',
			:comment_field => 'prof_comment',
		} %>
</div>

<h2 id="workload_detail_header">Workload</h2>
<div id="workload_detail">
	<%= render :partial => 'comments',
		:locals => {
			:reviews => @reviews,
			:rating_field => 'workload_rating',
			:comment_field => 'workload_comment',
		} %>
</div>

<%# if other profs offer the same class, compare them! %>
<% if !@avgs_by_profs.empty? %>
	<br/>
	<h2>Compare Professors</h2>
	<table id="compare_profs">
		<tr>
			<th>Prof(s)</th>
			<th>Course Rating</th>
			<th>Prof. Rating</th>
			<th>Workload</th>
			<th></th>
		</tr>
		<% @reviews_by_prof.sort_by {|k1,v1,k2,v2|
			v2[:course_rating] <=> v1[:course_rating]}.each do |key,avgs| %>
			<tr>
				<td><%= key %></td>
				<% if @num_reviews_by_profs[key] > 0 %>
					<td><%= star_count avgs[:course_rating] %></td>
					<td><%= star_count avgs[:prof_rating] %></td>
					<td><%= star_count avgs[:workload] %></td>
					<td ><%= "#{avgs[:num_reviews]} reviews" %></td>
				<% else %>
					<td colspan=4 class="no_reviews">No reviews</td>
				<% end %>
			</tr>
		<% end %>
	</table>
<% end %>

