<% courses = @review.offering.courses %>
<% course = courses.first %>
<% x_listings = courses.size > 1 ? courses[1,courses.size-1] : nil %>

<div class="PageTitle">
<h1><%= course_link(course, @review.offering) %></h1>
</div>

<div id="content">
	<% if x_listings %>
		<h2 class="x-listings">X-Listed as: <%=x_listings.map(&:compact_title).join(', ')%></h2>
	<% end %>
	<h2>taught by: <%= prof_links(@review.offering) %></h2>

	<table id="show-review">

		<!-- offering info -->

		<tr class='compact'>
			<td class='lhs'>Taken </td>
			<td><%="#{@review.offering.year} #{@review.offering.term}"%></td>
		</tr>
		<%# TODO add distribs, etc%>
		<tr class='compact'>
			<td class='lhs'>Reasons </td>
			<td><%= (reasons = @review.list_reasons).present? ? reasons.join(', ') : '(none listed)' %></td>
		</tr>

		<!-- review info -->

		<tr>
			<td>Grade</td>
			<% if @review.grade.present? %>
				<td class='lhs'>
					<strong><%= @review.letter_grade %></strong>
					<span class='hint pull-right'>
						<% if @review.offering.median_grade.present? %>
							<% compare = @review.grade <=> @review.offering.median_grade %>
							<% str = compare > 0 ? 'above' : (compare < 0 ? 'below' : 'matching') %>
							<%= raw "(#{str} the <strong>#{Review.letter_grade(@review.offering.median_grade)}</strong> median)" %>
						<% else %>
							(median not listed)
						<% end %>
					</span>
				</td>
			<% else %>
				<td class='not-found'>not reported</td>
			<% end %>
		</tr>

		<% [%w(course course), %w(prof professor), %w(workload workload)].each do |key, title| %>

			<tr class='rating'>
				<td class='lhs'><%= title.capitalize %></td>
				<td><%= star_count("review-#{key}", @review.attributes["#{key}_rating"]) %></td>
			</tr>
			<% if (comment = @review.attributes["#{key}_comment"]).present? %>
			<tr class='comment'>
				<td class='lhs'/>
				<td class='comment' id='prof-comment'><%= comment %></td>
			<tr>
			<% end %>
		<% end %>

	</table>

</div>