<h1><%= "#{@review.course.department} #{@review.course.number}: #{@review.course.long_title}"%></h1>
<h2><%= "taught by: #{@review.offering.professors.map(&:name).join(', ')}"%></h2>

<!-- offering info -->
<table id="offering_info">
	<tr>
		<td>Term:</td>
		<td><%="#{@review.offering.year}%{@review.offering.term}"%></td>
	</tr>
	<tr>
		<td>Time:</td>
		<td><%="#{@review.offering.time}"%>
	</tr>
	<%# TODO add distribs, etc%>
</table>

<!-- review info -->
<div>
	<tr>
		<td>Grade:</td>
		<td><%= grade(@review.grade) %></td>
	</tr>
	<tr>
		<td>Professor:</td>
		<td><%= star_count(@review.professor_rating) %></td>
	</tr>
	<tr>
		<td>Course:</td>
		<td><%= star_count(@review.course_rating) %></td>
	</tr>
</div>

