<% if @current_user.nil? %>
  <p>login to create to create your schedule!</p>
  <%= link_to "Login", "auth/cas" %>
<% else %>
<h1><%= "#{@current_user.name}'s Schedule" %></h1>

<% if @offerings.empty? %>
  Your schedule is empty.
<% else %>
  <table>
    <% @offerings.each do |offering| %>
      <tr>
        <td><%= offering.courses.first.department %></td>
        <td><%= offering.courses.first.number %></td>
        <td><%= offering.specific_title %></td>
        <td><%= "#{offering.year}#{offering.term}"%></td>
        <td><%= offering.time %></td>
        <td><%= offering.distribs.map(&:distrib_abbr).join " - " %> </td>
        <td><%= link_to 'Details', offering %></td>
        <td><%= link_to 'Remove', offering, :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
    <% end %>
  </table>
<% end %>
<br />
<% end %>
