<h1>Listing offerings</h1>

<table>
  <tr>
    <th>Course</th>
    <th>Year</th>
    <th>Season</th>
    <th>Professor</th>
    <th>Time</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @offerings.each do |offering| %>
  <tr>
    <td><%= offering.course %></td>
    <td><%= offering.year %></td>
    <td><%= offering.season %></td>
    <td><%= offering.professor %></td>
    <td><%= offering.time %></td>
    <td><%= link_to 'Show', offering %></td>
    <td><%= link_to 'Edit', edit_offering_path(offering) %></td>
    <td><%= link_to 'Destroy', offering, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Offering', new_offering_path %>
