<%= javascript_include_tag 'search' %>

<div class="PageTitle">
  <h1>Search</h1>
</div>
<!-- Content Area -->
<div id="content">

  <p class='hint'>
    Right now we only have course data from 2011 and 2012, but we'll be adding
    data from previous years (and <strong>all the old SA CourseGuide data</strong>)
    very shortly!
  </p>

  <%= form_tag(search_path, :id => 'search_form') do %>
    <div>
      <%= label_tag 'query[term]', 'Term' %>
      <%# ideally `years` would be determined by what's IN the database... %>
      <% years = ((Time.now.year-4)..(Time.now.year+1)).to_a.reverse %>
      <% years = [2012, 2011] # TEMPORARY! %>
      <%= select_tag 'query[year]', options_for_select([['any year',''],*years.map{|x| [x,x]}], Time.now.year) %>
      <span id='terms'>
        <% %w(W S X F).each do |term| %>
          <% name = "query[term][#{term}]" %>
          <span><%= label_tag name, term %><%= check_box_tag name, 1 %></span>
        <% end %>
      </span>
    </div>
    <div>
      <%= label_tag 'query[title]', 'Courses' %>
      <%= text_field_tag 'query[department]', '', :id => 'dept',
      :placeholder => 'department(s) (e.g. HIST)',
      :autocomplete => 'off', 'aria-autocomplete' => 'list', :class => 'ui-autocomplete-input', 'aria-haspopup' => true %>
      <%= text_field_tag 'query[number]', '', :placeholder => 'course number(s)', :id => 'number' %>
      <%= text_field_tag 'query[title]', '', :id => 'title',
      :placeholder => %(title(s) or partial title(s) (e.g. "Computer Graphics" or just "Graphics")),
      :autocomplete => 'off', 'aria-autocomplete' => 'list', :class => 'ui-autocomplete-input', 'aria-haspopup' => true %>
    </div>
    <div>
      <%= label_tag 'query[prof]', 'Professors' %>
      <%= text_field_tag 'query[prof]', '', :id => 'prof',
      :placeholder => 'e.g. John Adams, Jane B. Doe III' %>
    </div>
    <div>
      <%= label_tag 'query[time]', 'Meeting Times' %>
      <span id='times'>
        <% Offering.list_times.each do |time| %>
          <% name = "query[time][#{time}]" %>
          <span><%= label_tag name, time %><%= check_box_tag name, 1 %></span>
        <% end %>
      </span>
    </div>
    <div>
      <%= label_tag 'foo', 'Requirements' %>
      <span id='distribs'>
        <% Distrib.all_abbrs.each do |abbr| %>
          <% name = "query[distrib][#{abbr}]" %>
          <span><%= label_tag name, abbr %><%= check_box_tag name, 1 %></span>
        <% end %>
      </span>
      <span id='wcult'>
        <% %w(W NW CI).each do |abbr| %>
          <% name = "query[wcult][#{abbr}]" %>
          <span><%= label_tag name, abbr %><%= check_box_tag name, 1 %></span>
        <% end %>
      </span>
    </div>
    <div>
      <%= label_tag 'query[median]', 'Avg. Median' %>
      <%= select_tag 'query[median]', options_for_select([['',''],['A','A'],['A- or higher','A-'],
        ['B+ or higher','B+'],['B or higher','B'],['B- or higher','B-']], '') %>
    </div>
    <%= submit_tag raw("Search &raquo;"), :id => :search_button %>
  <% end %>

  <div>
    Sort by: <input type="radio" id="sortby_course" name="sortby" value="course" checked> <label for="sortby_course">course</label>
    <input type="radio" id="sortby_time" name="sortby" value="time"> <label for="sortby_time">time</label>
    <input type="radio" id="sortby_median" name="sortby" value="median"> <label for="sortby_median">median</label>
    <br><br>
  </div>

  <div id="results_container">
    <h2 id="loading_results" style="display:none">Loading...</h2>
    <div id="the_results" style="display:none">
    </div>
    <div id="no_results" class="warning" style="display:none;">
      <%= not_found('No results. Try broadening your query or searching different fields') -%>
    </div>
  </div>

  <div id="disclaimer">
    Notes:
    <ul>
      <li>
      Our CRNs and course listings may be out of date. <a href="http://www.dartmouth.edu/~reg/courses/index.html">The registrar's tools</a> have the most up-to-date information.
      </li>
      <li>
      CRNs are different during course election and the add/drop period.
      </li>
      <li>
      This website is not run by the registrar.
      </li>
    </ul>
    This app is a work in progress.  Please email <a href="mailto:hackerclub-core@googlegroups.com">hackerclub-core@googlegroups.com</a> with suggestions and feedback.
  </div>
</div>
