<h1><%= "#{@user.name}'s Wishlist" %></h1>

<% if @courses.empty? %>
  You have no courses on your wishlist.
<% else %>
  <table>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.department %></td>
        <td><%= course.number %></td>
        <td><%= course.name %></td>
        <td><%= link_to 'Details', course %></td>
        <td><%= link_to 'Remove', course, :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
    <% end %>
  </table>
<%end%>
<br />

