<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8" />
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/favicon.ico" />
    <title>Dartmouth Course Picker by Hacker Club</title>
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag  "application" %>

    <%# public assets %>
    <%= csrf_meta_tags %>
  </head>
  <body>
  <div id="wrap">
	<div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
		  <a class="navbar-brand" href="<%= root_path %>">Course Picker</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
			  <li><a href="<%= simple_search_path %>">Search</a></li>
			  <li><a href="<%= quick_start_reviews_path %>">Review</a></li>
			  <% if @current_user.present? %>
			  <li><a href="<%= signout_path %>">Logout</a></li>
			  <% else %>
			  <li><a href="<%= login_path(request.fullpath) %>">Login</a></li>
			  <% end %>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

	<div class="container">
		<%= yield %>
	</div>
</div><!-- #wrap -->

    <!-- Start Footer  -->
	<div id="footer">
		<div class="container">
			<p class="text-muted credit">Developed By <a href="http://hackdartmouth.org/">Hacker Club</a>
			(with the support of <a href="http://dsa.dartmouth.edu/">Student Assembly</a>)</p>
		</div>
	</div>
    <!-- End Footer  -->

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-23367713-1']);
      _gaq.push(['_trackPageview']);

      (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();
	</script>
   </body>
 </html>
